ion-content {
    --background: #757575;
  }
  
  ion-toolbar {
    --background: #D32F2F;
    @media (max-width: 374px) {
      ion-title {
        display: none;
      };
      ion-icon {
        display: none;
      };
      ion-avatar {
        padding: 5px;
      };
      ion-label {
        font-size: 11px;
        padding-left: 5px;
        text-align: left;
        font-weight: bolder;
      };
    }
    @media only screen and (min-width: 375px) and (max-width: 767px) {
      ion-title {
        display: none;
      };
      ion-icon {
        display: none;
      };
      ion-avatar {
        padding: 5px;
      };
      ion-label {
        font-size: 16px;
      };
    }
    @media (min-width: 768px) {
      ion-label {
        display: none;
      };
      ion-avatar {
        padding: 15px;
      };
    }
    --color: #FFFFFF;
  }
  
  ion-card{
    // display: flex;
    // flex-direction: column;
    max-width: 400px !important;
    min-width: 280px !important;
    padding: 0px;
    margin: 8px;
  }
  
  ion-list-header {
    --background: #D32F2F;
    --color: #FFFFFF;
  }
  
  ion-list {
    padding: 5px;
    background: #D32F2F;
  }

  ion-fab-button {
    --background: #F44336;
    --color: #FFFFFF;
  }